<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>Stone Cliente</title>
    <!-- meta description -->
    <meta name="description" content="">
    <!-- mobile viwport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- ================================
        CSS Files
        ================================= -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800"
        rel="stylesheet">
    <link rel="stylesheet" href="/system/css/themefisher-fonts.min.css">
    <link rel="stylesheet" href="/system/css/bootstrap.min.css">
    <link rel="stylesheet" href="/system/css/main.css">
    <link rel="stylesheet" href="/system/css/client.css">
    <style>
        .align {
            display: flex;
            justify-content: center;
        }
    </style>

</head>

<body>

    <div class="preloader">
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
    </div>

    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-about relative">
                <!-- .close -->
                <div class="page-close">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                        <a href="/orcamento" type="button" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left"
                                viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z" />
                            </svg></a>
                    </div>
                </div>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title text-center">
                                <h2>Meus<span class="primary">Orçamentos</span> <span class="title-bg">Stone</span></h2>
                                <p>Orçamentos</p>
                            </div>
                        </div>
                    </div> <!-- /.row -->

                    <form action="" method="post">
                    <div class="container" style="display: flex;justify-content:center;">
                        <div class="card text-center" style="width: 60%;">
                            <div class="card-body" style="display: flex;justify-content:center;">
                                <div class="col-md-4">
                                    <label class="form-label">Valor total</label>
                                    <input type="text" name="total" class="form-control" id="resultado">
                                    <br>
                                    <button type="button" class="btn btn-warning" id="somar">Calcular</button>
                                    <button type="submit" class="btn btn-success">Salvar</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row row-cols-1 row-cols-md-2 g-4">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Mármores e granitos
                                        </div>
                                        <div class="card-body">

                                            <div class="col-md-10">
                                                <label for="">Tipo de produto</label>

                                                <select class="form-select" id="" name="nomeMarmore"
                                                    style="padding: 7px 7px; font-size: 14px;color:grey">
                                                    <option selected disabled value="Nada selecionado">Abra para selecionar</option>
                                                    <option value="Mármore">Mármore</option>
                                                    <option value="Granito">Granito</option>
                                                </select>

                                            </div>

                                            <div class="col-md-4">

                                                <label class="form-label">Largura</label>
                                                <input type="text" class="form-control" id="somaMarmore1"
                                                    autocomplete="off" autocomplete="off" value="" name="larguraMarmore"
                                                    placeholder="" maxlength="6">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustom02" class="form-label">Comprimento</label>
                                                <input type="text" name="comprimentoMarmore" class="form-control" id="somaMarmore2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustomUsername" class="form-label">Preço do
                                                    item</label>
                                                <input type="text" class="form-control" id="somaMarmore3" name="valorMarmore">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="" class="form-label">Resultado</label>
                                                <input type="text" class="form-control form-control-lg"
                                                    id="resultMarmore" autocomplete="off" autocomplete="off" name="valortotalMarmore"
                                                    placeholder="0,00" maxlength="6"
                                                    onKeyPress="return(moeda(this,'.',',',event))">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Mão de obra
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-10">
                                                <label for="">Tipo de serviço</label>

                                                <select class="form-select" id="" name="nomeMobra"
                                                    style="padding: 7px 7px; font-size: 14px;color:grey">
                                                    <option selected disabled value="Nada selecionado">Abra para selecionar</option>
                                                    <option value="Pia">Pia</option>
                                                    <option value="Lavatório">Lavatório</option>
                                                    <option value="Soleira">Soleira</option>
                                                    <option value="Pingadeira">Pingadeira</option>
                                                    <option value="Escada">Escada</option>
                                                    <option value="Nicho">Nicho</option>
                                                </select>

                                            </div>
                                            <div class="col-md-4">

                                                <label class="form-label">Largura</label>
                                                <input type="text" name="larguraMobra" class="form-control" id="somaMobra1">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustom02" class="form-label">Comprimento</label>
                                                <input type="text" name="comprimentoMobra" class="form-control" id="somaMobra2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustomUsername" class="form-label">Preço do
                                                    item</label>
                                                <input type="text" name="valorMobra" class="form-control" id="somaMobra3">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustomUsername"
                                                    class="form-label">Resultado</label>
                                                <input type="text" name="valortotalMobra" class="form-control form-control-lg"
                                                    id="resultMobra">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Acabamento
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-10">
                                                <label for="">Tipo de produto</label>

                                                <select class="form-select" id="" name="nomeAcabamento"
                                                    style="padding: 7px 7px; font-size: 14px;color:grey">
                                                    <option selected disabled value="Nada selecionado">Abra para selecionar</option>
                                                    <option value="1/2 cana">1/2 cana</option>
                                                    <option value="Boleado">Boleado</option>
                                                    <option value="Reto">Reto</option>
                                                    <option value="45°">45°</option>
                                                </select>

                                            </div>

                                            <div class="col-md-4">

                                                <label class="form-label">Largura</label>
                                                <input type="text" name="larguraAcabamento" class="form-control" id="somaAcab1">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustom02" class="form-label">Comprimento</label>
                                                <input type="text" name="comprimentoAcabamento" class="form-control" id="somaAcab2">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustomUsername" class="form-label">Preço do
                                                    item</label>
                                                <input type="text" name="valorAcabamento" class="form-control" id="somaAcab3">

                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustomUsername"
                                                    class="form-label">Resultado</label>
                                                <input type="text" name="valortotalAcabamento" class="form-control form-control-lg" id="resultAcab">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Produto
                                        </div>
                                        <div class="card-body">

                                            <div class="col-md-10">
                                                <label for="">Tipo de produto</label>

                                                <select class="form-select" id="" name="nomeProduto"
                                                    style="padding: 10px 5px; font-size: 14px;color:grey">
                                                    <option selected disabled value="Nada selecionado">Abra para selecionar</option>
                                                    <option value="Mesa">Mesa</option>
                                                    <option value="Banco">Banco</option>
                                                    <option value="Nicho">Nicho</option>
                                                    <option value="Tábua">Tábua</option>
                                                </select>


                                            </div>
                                            <div class="col-md-4">
                                                <label for="validationCustom02" name="valortotalProduto" class="form-label">Valor</label>
                                                <input type="text" class="form-control form-control-lg" id="prod">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <div class="card-header">
                                            Cuba
                                        </div>
                                        <div class="card-body">
                                            <div class="col-md-10">
                                                <label for="">Tipo de produto</label>

                                                <select class="form-select" id="" name="nomeCuba"
                                                    style="padding: 10px 5px; font-size: 14px;color:grey">
                                                    <option selected disabled value="Nada selecionado">Abra para selecionar</option>
                                                    <option value="Cuba-Inox">Cuba-Inox</option>
                                                    <option value="Cuba-Louça">Cuba-Louça</option>
                                                </select>

                                            </div>
                                            <div class="col-md-4">
                                                <label for="" class="form-label">Valor</label>
                                                <input type="text" name="valortotalCuba" class="form-control form-control-lg" id="prod">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                         
                        </div>
                    </div>
                    </form>
                </div> <!-- /.pt-tablecell -->
            </div> <!-- /.pt-table -->
        </div>
    </main> <!-- /.site-wrapper -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            jQuery('input').on('keyup', function () {
                if (jQuery(this).attr('name') === 'result') {
                    return false;
                }

                /* ####### troca virgula por ponto ############# */
                $('input[type="text"]').each(function () {
                    var val = $(this).val().replace(',', '.');
                    $(this).val(val);
                });
                /* ############################################# */

                var somaMarmore1 = (jQuery('#somaMarmore1').val() == '' ? 0 : jQuery('#somaMarmore1')
                    .val());
                var somaMarmore2 = (jQuery('#somaMarmore2').val() == '' ? 0 : jQuery('#somaMarmore2')
                    .val());
                var somaMarmore3 = (jQuery('#somaMarmore3').val() == '' ? 0 : jQuery('#somaMarmore3')
                    .val());

                // use prseFloat 
                var resultMarmore = ((((parseFloat(somaMarmore1) * parseFloat(somaMarmore2)))) *
                    parseFloat(somaMarmore3));

                jQuery('#resultMarmore').val(parseFloat(resultMarmore).toFixed(2));
            });
        });


        /* Mão de obra */
        jQuery(document).ready(function () {
            jQuery('input').on('keyup', function () {
                if (jQuery(this).attr('name1') === 'result1') {
                    return false;
                }

                /* ####### troca virgula por ponto ############# */
                $('input[type="text"]').each(function () {
                    var val = $(this).val().replace(',', '.');
                    $(this).val(val);
                });
                /* ############################################# */

                var somaMobra1 = (jQuery('#somaMobra1').val() == '' ? 0 : jQuery('#somaMobra1')
                    .val());
                var somaMobra2 = (jQuery('#somaMobra2').val() == '' ? 0 : jQuery('#somaMobra2')
                    .val());
                var somaMobra3 = (jQuery('#somaMobra3').val() == '' ? 0 : jQuery('#somaMobra3')
                    .val());

                // use prseFloat 
                var resultMobra = ((((parseFloat(somaMobra1) + parseFloat(somaMobra2)))) * parseFloat(
                    somaMobra3));

                jQuery('#resultMobra').val(parseFloat(resultMobra).toFixed(2));
            });
        });

        /* Acabamento */
        jQuery(document).ready(function () {
            jQuery('input').on('keyup', function () {
                if (jQuery(this).attr('name2') === 'result2') {
                    return false;
                }

                /* ####### troca virgula por ponto ############# */
                $('input[type="text"]').each(function () {
                    var val = $(this).val().replace(',', '.');
                    $(this).val(val);
                });
                /* ############################################# */

                var somaAcab1 = (jQuery('#somaAcab1').val() == '' ? 0 : jQuery('#somaAcab1')
                    .val());
                var somaAcab2 = (jQuery('#somaAcab2').val() == '' ? 0 : jQuery('#somaAcab2')
                    .val());
                var somaAcab3 = (jQuery('#somaAcab3').val() == '' ? 0 : jQuery('#somaAcab3')
                    .val());

                // use prseFloat 
                var resultAcab = ((((parseFloat(somaAcab1) + parseFloat(somaAcab2)))) * parseFloat(
                    somaAcab3));

                jQuery('#resultAcab').val(parseFloat(resultAcab).toFixed(2));
            });
        });

        /*Produto*/
        jQuery(document).ready(function () {
            jQuery('input').on('keyup', function () {
                if (jQuery(this).attr('name3') === 'result3') {
                    return false;
                }

                /* ####### troca virgula por ponto ############# */
                $('input[type="text"]').each(function () {
                    var val = $(this).val().replace(',', '.');
                    $(this).val(val);
                });
                /* ############################################# */

                var produto = (jQuery('#prod').val() == '' ? 0 : jQuery('#prod')
                    .val());


                // use parseFloat 
                var resultProd = parseFloat(produto);

                jQuery('#Prod').val(parseFloat(resultProd).toFixed(2));
            });
        });

        /* Cubas */
        jQuery(document).ready(function () {
            jQuery('input').on('keyup', function () {
                if (jQuery(this).attr('name4') === 'result4') {
                    return false;
                }

                /* ####### troca virgula por ponto ############# */
                $('input[type="text"]').each(function () {
                    var valc = $(this).val().replace(',', '.');
                    $(this).val(valc);
                });
                /* ############################################# */

                var cuba = (jQuery('#cuba').val() == '' ? 0 : jQuery('#cuba')
                    .val());


                // use parseFloat 
                var resultCuba = parseFloat(cuba);

                jQuery('#Cuba').val(parseFloat(resultCuba).toFixed(2));
            });
        });


        /* Calcular tudo */
        $(document).ready(function () {
            $("#somar").click(function () {
                var total = 0;

                $('input[type=text].form-control-lg').each(function () {
                    var valor = Number($(this).val());
                    if (!isNaN(valor)) total += valor;
                });
                total = total;
                total = total.toLocaleString('pt-br', {
                    style: 'currency',
                    currency: 'BRL'
                });
                $("#resultado").val(total);
            });
        });
    </script>
    <!-- ================================
        JavaScript Libraries
        ================================= -->
    <script src="/system/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/system/js/vendor/bootstrap.min.js"></script>
    <script src="/system/js/jquery.easing.min.js"></script>
    <script src="/system/js/isotope.pkgd.min.js"></script>
    <script src="/system/js/jquery.nicescroll.min.js"></script>
    <script src="/system/js/owl.carousel.min.js"></script>
    <script src="/system/js/jquery-validation.min.js"></script>
    <script src="/system/js/main.js"></script>
</body>

</html>