<!DOCTYPE html>
<html class="no-js" lang="">

<head>
    <!-- meta charset -->
    <meta charset="utf-8">
    <!-- site title -->
    <title>Stone Cliente</title>
    <!-- meta description -->
    <meta name="description" content="">
    <!-- mobile viwport meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- fevicon -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- ================================
        CSS Files
        ================================= -->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i|Open+Sans:400,600,700,800"
        rel="stylesheet">
    <link rel="stylesheet" href="/system/css/themefisher-fonts.min.css">
    <link rel="stylesheet" href="/system/css/bootstrap.min.css">
    <link rel="stylesheet" href="/system/css/main.css">
    <link rel="stylesheet" href="/system/css/client.css">
</head>

<body>

    <div class="preloader">
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
        <div class="loading-mask"></div>
    </div>

    <main class="site-wrapper">
        <div class="pt-table">
            <div class="pt-tablecell page-about relative">
                <!-- .close -->
                <div class="page-close">
                    <div class="btn-group btn-group-lg" role="group" aria-label="Basic outlined example">
                       
                        <a href="/produtos" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5z"/>
                          </svg></a>
                    </div>
                </div>
                <!-- /.close -->

                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-offset-1 col-md-10 col-lg-offset-2 col-lg-8">
                            <div class="page-title text-center">
                                <h2>Meus <span class="primary">Produtos</span> <span class="title-bg">stone</span></h2>
                                <p>Cadastro de produtos.</p>
                            </div>
                        </div>
                    </div> <!-- /.row -->


                    <div class="panel panel-primary">
                        <div class="panel-heading">CADASTRO DE PRODUTOS </div>

                        <div class="panel-body">
                            <form class="row g-3" method="post" action="">
                                <div class="col-md-4">
                                    <label for="inputPassword4" class="form-label">Tipo de produto</label>
                                    <div class="form-floating">
                                        <select class="form-select" id="floatingSelect" name="tipo"
                                            aria-label="Floating label select example">
                                            <option selected disabled>Escolha o tipo</option>
                                            <option value="Mesa">Mesa</option>
                                            <option value="Banco">Banco</option>
                                            <option value="Nicho">Nicho</option>
                                            <option value="Tábua">Tábua</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label for="validationTextarea" class="form-label">Descrição</label>
                                    <textarea class="form-control is-invalid" name="descricao" id="validationTextarea"
                                        placeholder="" required></textarea>
                                </div>

                                <div class="col-md-3">
                                    <label for="inputEmail4" class="form-label">Valor</label>
                                    <input type="number" class="form-control" name="valor" id="inputEmail4">
                                </div>
                                <div class="col-md-12">
                                    <br>
                                    <button type="submit" class="btn btn-success">Cadastrar</button>
                                    <button type="button" class="btn btn-danger">Cancelar</button>
                                    
                                </div>
                            </form>
                        </div>

                    </div>

                </div> <!-- /.pt-tablecell -->

            </div> <!-- /.pt-table -->
        </div>
    </main> <!-- /.site-wrapper -->

    <!-- ================================
        JavaScript Libraries
        ================================= -->
    <script src="/system/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="/system/js/vendor/bootstrap.min.js"></script>
    <script src="/system/js/jquery.easing.min.js"></script>
    <script src="/system/js/isotope.pkgd.min.js"></script>
    <script src="/system/js/jquery.nicescroll.min.js"></script>
    <script src="/system/js/owl.carousel.min.js"></script>
    <script src="/system/js/jquery-validation.min.js"></script>
    <script src="/system/js/main.js"></script>
</body>

</html>