<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Stone Software Solutions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->

  <link href="/initialpage/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/initialpage/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/initialpage/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/initialpage/assets/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top header-inner-pages">
    <div class="container d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo"><img src="/Landing-page/assets/img/logosss.png" alt="" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>

          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto" href="/login">Login</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
 
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

      <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(/initialpage/assets/img/slide/slide-111.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Bem vindo a <span>Stone</span></h2>
              <p class="animated fadeInUp">Inovação dos procedimentos de gestão, com soluções simples e funcionais.</p>
              
            </div>
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="carousel-item" style="background-image: url(/initialpage/assets/img/slide/slide-2.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Stone Software Solutions</h2>
              <p class="animated fadeInUp">Tecnologia & Inovação</p>
            </div>
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="carousel-item" style="background-image: url(/initialpage/assets/img/slide/slide-33.jpeg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animated fadeInDown">Aqui você consegue</h2>
              <p class="animated fadeInUp">Aumente suas vendas e reduza seus custos de produção com a melhor solução para marmorarias.</p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
      </a>

    </div>
  </section><!-- End Hero -->

  
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container-fluid">

        <div class="section-title">
          <h2>Team</h2>
          <h3>Conheça nosso <span>Time</span></h3>
        </div>

        <div class="row justify-content-center">
          <div class="col-xl-10">
            <div class="row center justify-content-center ">
              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="member">
                  <img src="/initialpage/assets/img/team/team-3.jpeg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Carlos Eduardo</h4>
                      <span>FrontEnd Developer</span>
                    </div>
                    <div class="social">
                      <a href="https://www.instagram.com/_kaduvieira_/"><i class="bi bi-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/carlos-eduardo-vieira-aba00121a/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.3s">
                <div class="member">
                  <img src="/initialpage/assets/img/team/team-44.jpg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Isadora Queiroz</h4>
                      <span>Full Stack Developer</span>
                    </div>
                    <div class="social">
                      <a href="https://www.instagram.com/euisadorakondo/"><i class="bi bi-instagram"></i></a>
                      <a href="https://www.linkedin.com/in/isadora-kondo-110a65207/"><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

              <div class="col-xl-3 col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="member">
                  <img src="/initialpage/assets/img/team/team-10.jpeg" class="img-fluid" alt="">
                  <div class="member-info">
                    <div class="member-info-content">
                      <h4>Isaac Rocha</h4>
                      <span>Full Stack Developer</span>
                    </div>
                    <div class="social">
                      <a href="https://www.instagram.com/isaac_nsei/"><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div> <!-- End Member Item -->

            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>TechInside Company</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="https://www.instagram.com/techinsidecompany/">TechInside</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/initialpage/assets/vendor/purecounter/purecounter.js"></script>
  <script src="/initialpage/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/initialpage/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/initialpage/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/initialpage/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/initialpage/assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="/initialpage/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/initialpage/assets/js/main.js"></script>

</body>

</html>